<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title th:text="|Horas y fechas|"></title>
    </head>
    <body>
        <div class="container">
            <h2>Nuevo Evento</h2>
            <hr/>
            <form method="post" th:action="@{'/guardar'}">
                <div class="form-group">
                    <label for="nombre">Nombre del Evento</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"/>
                </div>
                <div class="form-group">
                    <label for="fechaEvento">Fecha del Evento</label>
                    <input type="date" class="form-control" id="fechaEvento" name="fechaEvento"/>
                </div>
                <div class="form-group">
                    <label for="horaInicio">Hora Inicio</label>
                    <input type="time" class="form-control" id="horaInicio" name="horaInicio"/>
                </div>
                <div class="form-group">
                    <label for="horaFin">Hora Fin</label>
                    <input type="text" class="form-control" id="horaFin" name="horaFin" placeholder="HH:MM"/>
                </div>
                <a th:href="@{'/listar'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </body>
</html>